
body
{
    text-align: center;
    display: flex;
    justify-content: center;
}
div{
    width: 450px;
    height:150px;
    background-color: #eee;
    border: 2px solid rgb(110, 91, 91);
    padding: 10px;
}
span{
    color: red;
    font-weight: bold;
}