body{
    background-color: #eee;
    
}
h1{
    text-align: center;
    margin: 30px;
    padding: 10px;
    border: 2px solid slateblue;
    
}

img{
    display: block;
    margin: auto;
    width: 400px;
    height: 200px;
}